body{
	background-color: lightcoral;
}
p{
	font-size: 50px;
	color: seagreen;
	background-color: yellow;
}
ul,ol{
	font-size: 24px;
	color: purple;
	margin-left: 100px;
}
.l1 li{
	padding-left:10px ;
}
.l2 li::marker{
	color: blue;
}